<div class="footer">

  {{/* if footerText is defined in the site, use that text */}}
  {{ if .Site.Params.footerText }}
  <p>{{ .Site.Params.footerText }}</p>
  {{ end }}

  <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}. All Rights Reserved.</p>
  <p><a href="https://github.com/madskjeldgaard/hyaline.systems-public" target="_blank" rel="noopener">Open source web design by Mads Kjeldgaard</a>.
  </p>

  {{/* RSS */}}
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  <p><a href="{{ .Permalink }}" target="_blank" rel="noopener">RSS feed.</a></p>
  {{ end -}}

  {{/* if site.Params.social.instagram */}}
  {{ with .Site.Params.social.mastodon -}}
  <p>
    <a href="{{ . }}" target="_blank" rel="noopener">Follow on Mastodon</a>
  </p>
  {{ end -}}
</div>
