[submodule "themes/hugo-audio"]
	path = themes/hugo-audio
	url = git@github.com:madskjeldgaard/hugo-audio.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/madskjeldgaard/hugo-video
