{{ $email := .Get "email" }}
{{ $products := where .Site.RegularPages "Type" "product" }}

<div class="shop">
  <div class="product-grid">
    {{ range $products }}
    <div class="product-item">

      <figure>
      {{ $images := .Params.images }}
      {{ $image := resources.Get (index $images 0) }}
      {{ if $image }}
      {{ $resized := $image.Resize "400x" }}

      {{/* If there is a coverlink parameter in the page front matter, wrap it in a link */}}

      <a href="{{.RelPermalink}}">
        <img class="post-image" src="{{ $resized.Permalink }}" alt="Cover image for {{ .Title }}">
      </a>
    {{ else }}
      <img class="post-image" src="/path/to/default/image.jpg" alt="Cover image for {{ .Title }}">
      {{ end }}
    </figure>

    <a href="{{.RelPermalink}}"><h3>{{ .Title }}</h3></a>

      {{ if .Params.price }}
      <p>Price: ${{ .Params.price }}</p>
      {{ if gt .Params.stock 0 }}
      <p>Stock: {{ .Params.stock }}</p>
      <!-- <p>Quantity: <input type="number" id="product-{{ .Title | urlize }}" name="product-{{ .Title | urlize }}" min="0" placeholder="0"></p> -->
      {{ else }}
      <p>Out of Stock</p>
      {{ end }}
    {{ end }}

      {{ if .Params.description }}
      <p class="shop-list-description"> {{ .Params.description }}</p>
      {{ end }}

      {{/* Learn more button */}}
      <a href="{{.RelPermalink}}" class="button">Learn more</a>

    </div>
    {{ end }}
  </div>
  </div>
