{{ define "main" }}
<div class="main-content">
  <article>
    <div class="product">
      <header>
        <h1>{{ .Title }}</h1>
        <figure>
      {{ $images := .Params.images }}
      {{ $image := resources.Get (index $images 0) }}
      {{ if $image }}
      {{ $resized := $image.Resize "800x" }}

      {{/* If there is a coverlink parameter in the page front matter, wrap it in a link */}}

      {{ if .Params.coverlink }}
      <a href="{{ .Params.coverlink }}">
        <img class="post-image" src="{{ $resized.Permalink }}" alt="Cover image for {{ .Title }}">
      </a>
      {{ else }}
      <img class="post-image" src="{{ $resized.Permalink }}" alt="Cover image for {{ .Title }}">
      {{ end }}
      {{ else }}
      <img class="post-image" src="/path/to/default/image.jpg" alt="Cover image for {{ .Title }}">
      {{ end }}

      {{/* If there is a caption for the photo in the caption-key of the page, use that: */}}
      {{with $.Params.caption}}
      <figcaption class="portfolio-single-cover-caption">{{ . }}</figcaption>
      {{end}}

    </figure>
      </header>
      <section>
        {{ if .Params.description }}
        <p> {{ .Params.description }}</p>
        {{ end }}

        {{ if .Params.repo }}
        <a href="{{.Params.repo}}">Open source</a>
        {{ end }}

        {{ if .Params.price }}
        <p>Price: {{ .Params.price }} {{ .Params.currency}} </p>

        <p>Stock: {{ .Params.stock }}</p>

        {{ if .Params.shipping }}
        <p>Shipping: {{ .Params.shipping }}</p>
        {{ end }}
        {{ end }}

      </section>
    </div>

    <section>
      {{ .Content }}

      <div class="purchase-info">
        <h2>Purchase</h2>
        {{with .Site.Params.purchaseInfo|default "Purchase this product by sending an email" }}
        <p>{{.}}</p>
        {{end}}

        {{/* if there is an email, make it a button */}}
        {{ with .Site.Params.purchaseEmail }}
        {{ $email := . }}
        <a href="mailto:{{ $email }}" class="button">Purchase</a>
        {{ end }}

      </div>



      {{/* tags */}}
      <p class="tags">
        {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}">#{{ . }}</a> {{ end }}
      </p>
    </section>
  </article>
</div>
{{ end }}
