{{/*
  Shortcode to generate a square wave animation using SVG and CSS.

  Usage:
  {{< square-wave >}}
  {{< square-wave animationSpeed="30s" strokeColor="#5063A8" strokeWidth="5" >}}

  Parameters:
  - animationSpeed: The speed of the square wave animation. Default is "30s".
  - strokeColor: The color of the square wave. Default is "#5063A8".
  - strokeWidth: The thickness of the square wave. Default is "5".
*/}}

{{ $animationSpeed := .Get "animationSpeed" | default "30s" }}
{{ $strokeColor := .Get "strokeColor" | default "#5063A8" }}
{{ $strokeWidth := .Get "strokeWidth" | default "5" }}
{{ $uniqueID := (printf "squarewave-%d" (now.UnixNano)) }}

<style>
#{{ $uniqueID }} .square-wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#{{ $uniqueID }} .square-wave-wrapper {
  display: flex;
  width: 200%;
  animation: move-square-wave-{{ $uniqueID }} {{ $animationSpeed }} linear infinite;
}

#{{ $uniqueID }} .square-wave {
  width: 50%;
}

#{{ $uniqueID }} .square-wave path {
  stroke: {{ $strokeColor }} !important;
  stroke-width: {{ $strokeWidth }};
  stroke-dasharray: 10;
  stroke-linecap: round;
}

@keyframes move-square-wave-{{ $uniqueID }} {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
</style>

<div id="{{ $uniqueID }}">
  <div class="square-wave-container">
    <div class="square-wave-wrapper">
      <svg viewBox="0 0 1200 200" xmlns="http://www.w3.org/2000/svg">
        <path class="square-wave" d="M0 100 H100 V0 H200 V100 H300 V0 H400 V100 H500 V0 H600 V100 H700 V0 H800 V100 H900 V0 H1000 V100 H1100 V0 H1200 V100" stroke="{{ $strokeColor }}" stroke-width="{{ $strokeWidth }}" fill="none"/>
      </svg>
      <svg viewBox="0 0 1200 200" xmlns="http://www.w3.org/2000/svg">
        <path class="square-wave" d="M0 100 H100 V0 H200 V100 H300 V0 H400 V100 H500 V0 H600 V100 H700 V0 H800 V100 H900 V0 H1000 V100 H1100 V0 H1200 V100" stroke="{{ $strokeColor }}" stroke-width="{{ $strokeWidth }}" fill="none"/>
      </svg>
    </div>
  </div>
</div>
